<div class="footer-style-two theme-basic-footer mt-30">
				<div class="top-footer position-relative" style="
    padding: 20pX;
">
					<div class="container">
						<div class="logo" style="
    text-align: center;
"><a href="#"><img src="https://dippuzen.com/themes/ailivechat/assets/images/logo/logo_01.png" alt="" width="95"></a></div><div class="bottom-footer position-relative">
					<div class="container">
						<div class="inner-wrapper m-auto">
							<div class="row">
								<div class="col-lg-4 order-lg-0 mb-15">
									<ul class="d-flex justify-content-center justify-content-lg-start footer-nav style-none">
										<li><a href="faq.html">Privacy &amp; Terms.</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
									</ul>
								</div>
								<div class="col-lg-4 order-lg-2 mb-15">
									<ul class="d-flex justify-content-center justify-content-lg-end social-icon style-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									</ul>
								</div>
								<div class="col-lg-4 order-lg-1 mb-15">
									<p class="copyright text-center m0">Copyright @2024 AI Live chat.</p>
								</div>
							</div>
						</div> <!-- /.inner-wrapper -->
					</div>
				</div> 
					</div>
					
					
				</div> <!-- /.top-footer -->
				 <!-- /.bottom-footer -->
			</div>