<head>
	<meta charset="UTF-8">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{this.page.title}} | AI Live Chat</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="{{'assets/images/fav-icon/icon.png'|theme}}">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="{{'assets/css/style.css'|theme}}" media="all">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="{{'assets/css/responsive.css'|theme}}" media="all">
    <link rel="stylesheet" type="text/css" href="{{'assets/css/prism.css'|theme}}">
</head>