<!-- jQuery -->
<script src="{{'assets/vendor/jquery.min.js'|theme}}"></script>
<!-- Bootstrap JS -->
<script src="{{'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'|theme}}"></script>
<!-- WOW js -->
<script src="{{'assets/vendor/wow/wow.min.js'|theme}}"></script>
<!-- Slick Slider -->
<script src="{{'assets/vendor/slick/slick.min.js'|theme}}"></script>
<!-- Fancybox -->
<script src="{{'assets/vendor/fancybox/dist/jquery.fancybox.min.js'|theme}}"></script>
<!-- Lazy -->
<script src="{{'assets/vendor/jquery.lazy.min.js'|theme}}"></script>
<!-- js Counter -->
<script src="{{'assets/vendor/jquery.counterup.min.js'|theme}}"></script>
<script src="{{'assets/vendor/jquery.waypoints.min.js'|theme}}"></script>
<script src="{{'assets/vendor/prism/prism.min.js'|theme}}"></script>
<!-- Theme js -->
<script src="{{'assets/js/theme.js'|theme}}"></script>