<form data-request="onStartCrawl" data-request-success="startPolling()" class="user-data-form">
      <div class="row">
        <div class="col-12">
          <div class="input-group-meta">
            <h3 class="fs-15">Crawl a website</h3>
            <p style="
    font-size: 13px;
" class="fs-12">Enter a website URL to crawl all pages from it.</p>
            <input type="text" name="website" placeholder="www.example.com" required>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn-twentyTwo w-100 fw-500 tran3s text-uppercase mt-30">Proceed</button>
        </div>
      </div>
    </form>